<footer class="bg-emerald-950 py-10 px-5 lg:py-16 lg:px-16 text-white">
  <div class="pb-5">
    <img
      src="/asset/logo-hisabuna-white.svg"
      alt="logo-hisabuna"
      class="max-w-[600px]"
    />
  </div>
  <div class="pt-5 border-t border-white/10">
    <p class="text-xs">© 2024 Hisabuna All rights reserved</p>
  </div>
</footer>
